doctype html
html(lang="ja")
  head
    include ./data
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    block vars
    title= title
    meta(name="description" content=meta.description)
    meta(name="keywords" content=meta.keywords)
    meta#viewport(name="viewport", content="width=device-width, initial-scale=1")
    include ./ga
    include ./og

    block style


  body(ontouchstart="")
    block content
    block script
