@import "./utils/_reset"
@import "./utils/_mixins"
@import "./utils/_easing"

@import "./components/_pc-sprite"
@import "./components/_sp-sprite"



$font= "ヒラギノ角ゴ Pro W3", "メイリオ", "Meiryo", sans-serif;

.pc-image
  sprite($pc_sprite_test1)
.sp-image
  sp-sprite($sp_sprite_test3, $spW)
